* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Muve to center vertcally */
  height: 100vh;
  justify-content: center;
  /* Preents scrollbar from showing by default */
  overflow: hidden;
}
